

<div class="modal-content" style="min-height: 400px;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
  </div>
  <div class="modal-body">
 	 <img src="{{domain}}{{path}}{{filename}}"/>
  </div>
  <div class="modal-footer">
    <button type="button" id="image-prev" class="btn btn-default">
     <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button type="button" id="image-next" class="btn btn-default " >
       <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</div><!-- /.modal-content -->