
<div class="col-md-12" style="padding-top: 16px;">
<div class="row">
	<div id="gallery-loader" style="margin-top: 10px;">Loading...</div>
</div>
<div class="row">
	<div class="col-md-12"  id="images" style="min-height: 700px;"></div>
</div>
</div>