<div class="col-md-12">

<div class="row">
	<div class="col-md-12">
		<h2>Galleries:</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12" >
	<ul class="nav nav-pills nav-stacked" id="galleryList">
  		<li>No galleries.</li>
	</ul>

	</div>
</div>

</div>