<div class="col-md-12">

<div class="row">
	<div class="col-md-12">
		<h2>Galleries:</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12" >

	<ul class="nav nav-pills nav-stacked" id="galleryList">
  		<li id="sidebar-loader" style="">Loading...</li>
	</ul>

	</div>
</div>

</div>